.jumbotron {
    background-image: url(../assets/img/IMG_0565.JPG);
    background-repeat:no-repeat;
    background-position:center;
    height: 75vh;
    text-align: center;
    color: white;
}

.jumbotron h1 {
    padding-top: 200px;
}