:root {
    --grey: rgb(54, 58, 56);
    --darkgreen: #353b3c;
    --green: #334139;
    --blue: #4C5B61;
    --purple: #433A3F;
    --red: #846a6a;
    --beige: #CEBD9C;
    --tan: #c6c7c4;

    --myFont: 'Monoton', cursive;
    --logoFont: 'Libre Barcode 128 Text', cursive;


}